<div ng-controller='ordersController'>
    <h3>Add a new order</h3>
    <form>
        Customer <select ng-model="newOrder.name">
                    <option ng-repeat="customer in customers" ng-value="customer.name" ng-bind="customer.name"></option>
                 </select> <br>
        Order <select ng-model="newOrder.quantity" ng-options="quantity for quantity in quantity track by quantity">
              </select>
              <select ng-model="newOrder.item" ng-options="item for item in items track by item">
              </select> <br>
        <input type="submit" ng-click="addOrder()" value="Order">
    </form>
    <input type="text" id="order_search" placeholder="filter..." ng-model="filter_order">
    <table>
        <tr class='thead'>
            <td>Customer Name</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Date</td>
        </tr>
        <tr ng-repeat="order in orders track by $index | filter:filter_order | orderBy: '-date'">
            <td ng-bind="order.name"></td>
            <td ng-bind="order.item"></td>
            <td ng-bind="order.quantity"></td>
            <td ng-bind="order.date | date: 'MMMM d yyyy'"></td>
        </tr>
    </table>
</div>